@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.MultiToggle .MultiToggleOption:first-child {
  border-radius: 10px 0 0 10px;
}
.MultiToggle .MultiToggleOption:last-child {
  border-radius: 0 10px 10px 0;
}

.MultiToggleOption {
  background: #373737;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid black;
}
.MultiToggleOption.active {
  background: #151515;
}

.Button {
  border: 1px solid #0e0e0e;
  border-radius: 6px;
  padding: 2px 7px;
  font-size: 14px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em #222;
  display: flex;
  align-items: center;
  gap: 4px;
}
.Button img {
  margin: 0;
  padding: 0;
}
.Button.progressive {
  color: black;
  text-shadow: none;
}

.ListItem {
  background: red;
}

.Table {
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

.TableItem {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}
.TableItem:nth-child(even) {
  background: #2c2c2c;
}
.TableItem td {
  margin: 5px 8px;
  white-space: nowrap;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TableItem td:first-child {
  margin: 0;
  margin-right: 8px !important;
}
.TableItem td:last-child {
  margin: 0;
  margin-left: 8px !important;
}
.TableItem td.main {
  width: 100%;
}
.TableItem td.text {
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: left;
}
.TableItem td.number {
  text-align: right;
}
.TableItem td.nav {
  display: flex;
  justify-content: end !important;
}

.Dropdown {
  border: 1px solid #0e0e0e;
  border-radius: 6px;
  padding: 2px 17px 2px 7px;
  font-size: 14px;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/icons/dropdown-white.png") 96% center no-repeat;
  background-color: #222;
}

.DropdownItem {
  background-color: #373737;
  border-radius: 10px;
}

.CloseButton {
  display: grid;
  place-items: center;
  background: rgb(80, 80, 80);
  border: 1px solid #0e0e0e;
  margin: 0;
  padding: 0;
  box-shadow: inset 0px 0px 1px 0px black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.CloseButton img {
  height: 16px;
  width: 16px;
}

.IconButton {
  background: none;
  border: none;
  outline: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.IconButton:active {
  box-shadow: none !important;
}

* {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 10px;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  height: 100vh;
  margin: auto;
}

.transparent {
  opacity: 0.4;
}

.disabled {
  cursor: not-allowed !important;
}
.disabled:hover {
  filter: none !important;
}

.ghost {
  pointer-events: none;
}

button:hover, select:hover, option:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
button:active, select:active, option:active {
  box-shadow: inset 0px 1px 4px 1px black !important;
}

.destructive {
  background: rgb(168, 63, 63) !important;
}

.constructive {
  background: rgb(86, 119, 86) !important;
}

.progressive {
  background: rgb(173, 164, 88) !important;
}

.informative {
  background: blue !important;
}

.neutral {
  background: #373737 !important;
}

.dark {
  background: #222 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  border-radius: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #222;
  outline: 1px solid #0e0e0e;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  box-shadow: inset 0px 0px 1px 0px black;
  transition: 200ms all ease;
}
.switch input:checked + .slider {
  background: rgb(86, 119, 86);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px grey;
}
.switch input:checked + .slider:before {
  transform: translateX(12px);
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.notification-container {
  display: flex;
  align-items: center;
}
.notification-container .notification {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid black;
  font-weight: bold;
  font-size: 22px;
  z-index: 1;
}
.notification-container .addendum {
  background: #222;
  color: white;
  border-radius: 0 15px 15px 0;
  border: 1px solid black;
  font-weight: normal;
  font-size: 0.6em;
  padding: 2px 8px;
  padding-left: 5px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  gap: 3px;
  white-space: nowrap;
}

.SectionContainer {
  margin: 0 auto;
  width: 100%;
}
.SectionContainer .Section {
  transform: scale(1);
  width: 1000px;
  height: 700px;
  border: 1px solid;
  background: #2c2c2c;
  position: relative;
}
.SectionContainer .Section.moving-item-mode {
  outline: 2px solid red;
}
.SectionContainer .Section .moving-item-mode-info {
  color: red;
  background: #2c2c2c;
  position: absolute;
  width: 100%;
  z-index: 3;
}
.SectionContainer .Section .overlay {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 700px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.SectionContainer .Section .section-image {
  width: 1000px;
  height: 700px;
  transform: scale(1);
  position: absolute;
  z-index: -1;
}

.ReceiptManager {
  color: black;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-between;
}
.ReceiptManager .filter {
  display: flex;
  justify-content: center;
}
.ReceiptManager .list {
  overflow: auto;
  overflow-y: auto;
  padding: 5px;
}
.ReceiptManager .bottom-list {
  border-top: 1px solid #0e0e0e;
  background: rgb(65, 65, 65);
}
.ReceiptManager .bottom-list .total {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.SectionManager {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Seating {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  border: none;
  background: none;
  border-radius: 50% 50% 0 0;
  font-size: 1em;
  justify-items: center;
  transform: translateX(-50%);
  filter: blur(0);
  z-index: 3;
  white-space: nowrap;
}
.Seating .upper-wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 50px;
  margin-top: -42px;
  align-items: center;
  gap: 2px;
  position: absolute;
  z-index: 1;
}
.Seating .upper-wrapper .orderinfo {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-weight: normal;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.Seating .upper-wrapper .orderinfo .amount {
  display: flex;
  align-items: center;
  background: #222;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 0 5px;
  border: 1px solid black;
  gap: 4px;
}
.Seating .upper-wrapper .orderinfo .time {
  border-radius: 0 10px 10px 0;
  padding: 0 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.Seating .upper-wrapper .waiter {
  display: flex;
  align-items: center;
  gap: 3px;
  background: #222;
  color: white;
  padding: 2px 7px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
}
.Seating .upper-wrapper .waiter img {
  width: 16px;
  height: 16px;
}
.Seating .lower-wrapper .customers {
  display: grid;
  justify-items: center;
  gap: 1px;
  text-align: center;
  padding: 0;
}
.Seating .lower-wrapper .customers .customer {
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0px 0px 1px 0px black;
  background: #222;
  color: white;
  padding: 1px 5px;
  border-radius: 10px;
  outline: 2px solid black;
  margin: 2px;
  font-size: 14px;
}
.Seating .lower-wrapper .customers .customer img {
  height: 13px;
  width: 13px;
}
.Seating .editing {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.Seating .editing:hover {
  display: none;
}
.Seating .editing p {
  margin: 0;
}
.Seating .editing .dots {
  font-size: 50px;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: -8px;
}
.Seating .editing span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.Seating .editing span:nth-child(2) {
  animation-delay: 0.2s;
}
.Seating .editing span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.Seating .number-display {
  font-size: 1.5em;
  border-radius: 100%;
  border: 6px double black;
  box-shadow: inset 0px 0px 1px 0px black;
  transition: all 100ms ease-in-out;
}
.Seating .number-display.multi {
  width: 80px;
  height: 80px;
  border: 6px double black;
}
.Seating .number-display.single {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.Seating .number-display:hover {
  transform: scale(1.05);
}
.Seating .number-display .number {
  font-size: 2em;
}
.Seating .number-display .unpaid-tab-container {
  transform: rotate(340deg) translate(-18px, -18px) rotate(-340deg);
  position: absolute;
}
.Seating .number-display .is-photography-container {
  transform: rotate(240deg) translate(-30px, -30px) rotate(-240deg);
  position: absolute;
}

.Payouts {
  background: #2c2c2c;
  color: white;
  margin: 0px 50px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 1000px;
  text-shadow: 0.1em 0.1em 0.2em black;
  min-height: 600px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.Payouts .column {
  display: grid;
  grid-gap: 20px;
}
.Payouts .column.left {
  display: grid;
  grid-template-rows: auto 1fr;
}
.Payouts .column section {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.Payouts .column section .nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}
.Payouts .column section .nav .title {
  font-size: 14px;
  color: #fff;
  font-family: "Nunito";
  margin-bottom: 5px;
  font-weight: bold;
}
.Payouts .column section .nav .under-title {
  color: rgb(196, 177, 166);
  font-size: 14px;
  text-align: center;
}
.Payouts .column section .content {
  box-shadow: inset 0px 0px 1px 0px black;
  background: #222;
  border: 1px solid #0e0e0e;
  z-index: 2;
  height: 100%;
}

.TipsManager {
  display: grid;
  align-content: space-between;
  height: 200px;
}
.TipsManager .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  overflow-y: auto;
}
.TipsManager .bottom-list {
  margin-top: 5px;
  border-top: 1px solid #0e0e0e;
  background: rgb(65, 65, 65);
}
.TipsManager .bottom-list .total {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: grid;
  place-items: center;
}
.modal-container .Modal {
  box-shadow: 0px 0px 1px 0px black;
  min-width: 500px;
  border: 1px solid #0e0e0e;
}
.modal-container .Modal .title-bar {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  color: white;
  background: rgb(65, 65, 65);
  box-shadow: 0px 2px 4px 1px black;
  border-bottom: 1px solid #0e0e0e;
}
.modal-container .Modal .title-bar .title {
  text-shadow: 0px 2px 4px black;
  font-size: 18px;
}
.modal-container .Modal .title-bar .close-button {
  margin: 5px;
}
.modal-container .Modal .content {
  padding: 0 10px;
  color: white;
  background: #222;
}

.ReceiptModal {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.ReceiptModal .paid-amount {
  display: flex;
  gap: 5px;
}
.ReceiptModal .paid-amount label {
  white-space: nowrap;
}
.ReceiptModal .paid-amount input {
  width: 100%;
  background: #2c2c2c;
  color: white;
  border: 1px solid #0e0e0e;
}
.ReceiptModal .receipt-summary {
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
  padding: 5px 0;
  margin: 5px 0;
}
.ReceiptModal .receipt-summary .row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.ReceiptModal .receipt-RP a {
  color: white;
}
.ReceiptModal .receipt-RP a:visited {
  color: white;
}

.AttendingStaff {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.AttendingStaff .bottom-list {
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid #0e0e0e;
}
.AttendingStaff .bottom-list .perPerson, .AttendingStaff .bottom-list .calculations {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}
.AttendingStaff .bottom-list .total {
  border-top: 1px solid #0e0e0e;
  background: rgb(65, 65, 65);
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.TipModal {
  padding: 5px 0;
  display: grid;
  grid-gap: 5px;
}
.TipModal .row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.TipModal input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(196, 177, 166);
  color: white;
  font-size: 16px;
}
.TipModal input::-moz-placeholder {
  color: grey;
}
.TipModal input::placeholder {
  color: grey;
}
.TipModal .submit-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.SeatingManagerContainer {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.SeatingManagerContainer .SeatingManager {
  background: #2c2c2c;
  border-radius: 20px 20px 10px 10px;
  display: grid;
  gap: 8px;
  min-width: 450px;
  color: white;
  padding: 15px;
  position: relative;
  border: 1px solid #0e0e0e;
  box-shadow: 0px 0px 1px 0px black;
  font-size: 14px;
}
.SeatingManagerContainer .SeatingManager .blur {
  border-radius: inherit;
  height: 100%;
}
.SeatingManagerContainer .SeatingManager .header {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  width: 100%;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter {
  display: grid;
  justify-self: start;
  align-content: center;
}
.SeatingManagerContainer .SeatingManager .header .seatingnumber {
  display: grid;
  justify-self: center;
  place-items: center;
  border-radius: 100%;
  border: 4px double black;
  width: 80px;
  height: 80px;
  position: absolute;
  box-shadow: 0px 4px 10px 1px black;
  font-size: 4.5em;
  margin-top: -8px;
  color: black;
}
.SeatingManagerContainer .SeatingManager .header .close-button {
  justify-self: end;
}
.SeatingManagerContainer .SeatingManager .navbar {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.SeatingManagerContainer .SeatingManager .navbar .column {
  display: grid;
  align-content: end;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .navbar .column .navsection {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
}
.SeatingManagerContainer .view-tab-container {
  display: grid;
  justify-items: end;
  gap: 5px;
}
.SeatingManagerContainer .view-tab-container .row {
  display: flex;
  justify-content: end;
}
.SeatingManagerContainer .navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.SeatingManagerContainer .navbar-bottom .reset-button {
  display: flex;
  align-items: start;
  justify-content: center;
  color: black;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .navbar-bottom .reset-button img {
  height: 18px;
  width: 18px;
}

.OrderManager {
  background: #222;
  color: black;
  border: 1px solid #0e0e0e;
  display: grid;
  border: 1px solid #0e0e0e;
  box-shadow: inset 0px 0px 1px 0px black;
}
.OrderManager .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: rgb(80, 80, 80);
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #0e0e0e;
  max-width: 100%;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.OrderManager .header .label, .OrderManager .header button {
  margin: 5px;
}
.OrderManager button.icon {
  border-radius: 100%;
  border: none;
  background: none;
}
.OrderManager button.icon img {
  width: 26px;
  height: 26px;
}
.OrderManager button.text {
  border-radius: 999px;
}
.OrderManager .customer-container {
  display: grid;
  grid-auto-flow: row;
  max-height: 350px;
  overflow-y: auto;
}
.OrderManager .customer-container .emptylist {
  display: flex;
  justify-content: center;
  color: grey;
}

.SeatingManagerContainer .MenuManager {
  display: grid;
  position: relative;
  background: #222;
  color: white;
  border: 1px solid #0e0e0e;
}
.SeatingManagerContainer .MenuManager .menu-title {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 18px;
  color: white;
  background: #444C44;
  width: 100%;
  box-shadow: 0px 0px 1px 0px black;
  border: 1px solid #0e0e0e;
}
.SeatingManagerContainer .MenuManager .menu-title .customer-title {
  color: white;
  padding: 0 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.SeatingManagerContainer .MenuManager .menu-title .close-button {
  margin: 5px;
}
.SeatingManagerContainer .MenuManager .menu-container {
  -moz-column-count: 2;
       column-count: 2;
  padding: 5px 10px;
}
.SeatingManagerContainer .MenuManager .menu-container .type {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  padding: 5px;
}
.SeatingManagerContainer .MenuManager .menu-container .type .type-title {
  border-bottom: 1px solid grey;
  font-weight: bold;
  color: rgb(196, 177, 166);
  font-size: 18px;
  margin: 2px 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  gap: 5px;
  margin: 1px 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-title {
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-content: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-title .item-info-button {
  background: none;
  border: none;
  padding: 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-nav {
  display: flex;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item-info {
  display: none;
}

.InfoboxContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: grid;
  place-items: center;
}
.InfoboxContainer .Infobox {
  background: #222;
  border: 1px solid #0e0e0e;
  width: 80%;
}
.InfoboxContainer .Infobox .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: white;
  font-size: 18px;
  background: rgb(65, 65, 65);
  border-bottom: 1px solid #0e0e0e;
  box-shadow: 0px 0px 1px 0px black;
  font-weight: bold;
}
.InfoboxContainer .Infobox .section {
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid #0e0e0e;
}
.InfoboxContainer .Infobox .section .section-header {
  color: rgb(196, 177, 166);
  font-weight: bold;
}
.InfoboxContainer .Infobox .section p {
  margin: 0;
}
.InfoboxContainer .Infobox .section:last-child {
  border: none;
}
.InfoboxContainer .Infobox .info-container {
  padding: 0 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.InfoboxContainer .Infobox .info-container .noresult {
  color: grey !important;
}

.confirm-box-container {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
}
.confirm-box-container .confirm-box {
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
  z-index: 99;
  box-shadow: 0px 4px 10px 1px black;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.confirm-box-container .confirm-box .title {
  font-weight: bold;
  font-size: 18px;
}
.confirm-box-container .confirm-box .message {
  margin: 10px 0;
}
.confirm-box-container .confirm-box .options {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.confirm-box-container .confirm-box .options button {
  box-shadow: 0px 4px 10px 1px black;
}
.confirm-box-container .confirm-box .options button:active {
  box-shadow: inset 0px 1px 4px 1px black;
}

.TabManagerContainer {
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: 14px;
  filter: drop-shadow(0 0 5px grey);
}
.TabManagerContainer button {
  transition: none !important;
}
.TabManagerContainer .TabManager {
  background: rgb(80, 80, 80);
  color: black;
  list-style: none;
  padding: 10px 10px 30px 10px;
  min-width: 300px;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) 50%/14px 100%;
          mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) 50%/14px 100%;
}
.TabManagerContainer .TabManager header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.TabManagerContainer .TabManager header .title {
  font-size: 18px;
  font-weight: bold;
  text-shadow: none !important;
}
.TabManagerContainer .TabManager header .close-button {
  position: absolute;
  justify-self: end;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
}
.TabManagerContainer .TabManager .blur {
  margin-top: -10px;
  margin-left: -10px;
}
.TabManagerContainer .TabManager .tab-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.TabManagerContainer .TabManager .tab-nav .receipt-link a {
  color: white !important;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TabManagerContainer .TabManager .tab-list {
  max-height: 300px;
  overflow-y: auto;
}
.TabManagerContainer .TabManager .tab-list .name {
  font-size: 14px;
  color: rgb(196, 177, 166);
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TabManagerContainer .TabManager .view-nav {
  display: flex;
  padding: 4px 0;
  justify-content: center;
  align-items: center;
}
.TabManagerContainer .tab-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 7px 0;
  padding: 5px 0;
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
}

.receipt-RP {
  display: block;
}
.receipt-RP textarea {
  margin-top: 5px;
  word-break: break-word;
  width: calc(100% - 8px);
  resize: none;
  border: 1px solid #0e0e0e;
  padding: 5px;
  font-size: 14px;
  background: #2c2c2c;
  color: white;
}

.Receipt {
  padding: 5px 10px;
  border-radius: 20px;
}
.Receipt .name {
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
.Receipt .data {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
.Receipt .data .time img {
  margin-right: 3px;
  width: 13px;
  height: 13px;
}
.Receipt .total {
  display: flex;
  justify-content: space-between;
}

.TopNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background: #222;
  width: 100%;
}
.TopNav .logo {
  display: flex;
  gap: 5px;
}
.TopNav .logo .image {
  width: 50px;
  height: 50px;
}
.TopNav .logo .info-container {
  display: grid;
  align-content: center;
}
.TopNav .logo .info-container .title {
  color: #fff;
  font-family: "Dancing Script";
  font-size: 18px;
  margin-bottom: -6px;
}
.TopNav .logo .info-container .author {
  color: #9bb4b2;
  font-size: 14px;
}

.Customer {
  position: relative;
}
.Customer.active {
  background: #444C44;
}
.Customer .name-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
}
.Customer .name-nav input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(80, 80, 80);
  background: none;
  font-size: 18px;
  text-align: left;
  width: 100%;
  color: rgb(196, 177, 166);
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.Customer .name-nav input:focus {
  background: #2c2c2c;
}
.Customer .name-nav input::-moz-placeholder {
  color: grey;
}
.Customer .name-nav input::placeholder {
  color: grey;
}
.Customer .orders {
  margin: 10px;
}
.Customer .customer-nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid #0e0e0e;
  background: rgb(65, 65, 65);
  padding: 5px;
}

main {
  display: grid;
  place-items: center;
  background-image: url("./../assets/background/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
main .blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}/*# sourceMappingURL=main.css.map */