@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.SeatingManagerContainer {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.SeatingManagerContainer .SeatingManager {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-radius: 50px 50px 20px 20px;
  display: grid;
  min-width: 450px;
  color: white;
  padding: 15px;
  position: relative;
  border: 4px solid black;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .title {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.SeatingManagerContainer .SeatingManager .blur {
  border-radius: inherit;
  height: 100%;
}
.SeatingManagerContainer .SeatingManager .header {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  width: 100%;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter {
  display: grid;
  justify-self: start;
  align-content: center;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter select {
  background: linear-gradient(to bottom right, lightgrey, grey);
  border-radius: 15px;
  padding: 2px;
}
.SeatingManagerContainer .SeatingManager .header .seatingnumber {
  display: grid;
  justify-self: center;
  place-items: center;
  border-radius: 100%;
  border: 6px double black;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0px 4px 10px 1px black;
  font-size: 4.5em;
  margin-top: -8px;
  color: black;
}
.SeatingManagerContainer .SeatingManager .header .close-button {
  justify-self: end;
  align-self: center;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .navbar {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.SeatingManagerContainer .SeatingManager .navbar .column {
  display: grid;
  align-content: end;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .navbar .column .navsection {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .reset-button {
  display: flex;
  align-items: start;
  justify-content: center;
  color: black;
  margin-top: 10px;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .reset-button img {
  height: 18px;
  width: 18px;
}
.SeatingManagerContainer .view-tab-container {
  display: grid;
}
.SeatingManagerContainer .view-tab-container .view-tab-button {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-gap: 5px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .view-tab-container .view-tab-button .column {
  display: grid;
  justify-items: start;
  align-items: end;
  grid-gap: 0;
}
.SeatingManagerContainer .view-tab-container .view-tab-button img {
  height: 32px;
  width: 32px;
}

.SectionContainer {
  margin: 0 auto;
  width: 100%;
}
.SectionContainer .section-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 0;
  width: 100%;
}
.SectionContainer .section-nav .section-column {
  display: flex;
}
.SectionContainer .section-nav .section-column .section-selector {
  display: grid;
  align-content: end;
}
.SectionContainer .section-nav .section-column .section-selector .notification-bar {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-bottom: -10px;
  margin-right: -5px;
  z-index: 3;
  pointer-events: none;
}
.SectionContainer .section-nav .section-column .section-selector .notification-bar .notification {
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  border-radius: 50px;
  width: auto;
  grid-gap: 3px;
  box-shadow: 0px 1px 4px 1px rgb(36, 30, 11);
}
.SectionContainer .section-nav .section-column .section-selector .section-button {
  border-radius: 15px 15px 0 0;
  padding: 6px 14px;
  box-shadow: 0px 4px 6px 1px rgb(36, 30, 11);
  border-bottom: none;
}
.SectionContainer .section-nav .section-column .section-selector .section-button .title {
  font-size: 28px;
  font-weight: normal;
}
.SectionContainer .section-nav .section-column .section-selector .active {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
  z-index: 2;
  padding-bottom: 10px;
  text-shadow: 0px 2px 4px black;
}
.SectionContainer .section-nav .section-column .section-selector .active .title {
  text-shadow: 0em 4px 12px black;
}
.SectionContainer .Section {
  transform: scale(1);
  width: 1000px;
  height: 700px;
  box-shadow: 0px 4px 10px 1px black;
  border: 4px solid black;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  position: relative;
}
.SectionContainer .Section .overlay {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 700px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.SectionContainer .Section .section-image {
  width: 1000px;
  height: 700px;
  transform: scale(1);
  position: absolute;
  z-index: -1;
}

* {
  font-family: "Cabin", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.cursive {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  height: 100vh;
  margin: auto;
}

.SectionManager {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.transparent {
  opacity: 0.6;
}

.disabled {
  cursor: not-allowed !important;
}
.disabled:hover {
  filter: none !important;
}

button, select, option {
  font-weight: bold;
  border-radius: 15px;
  outline: none;
  border: 2px solid black;
  transition: 200ms all ease;
}
button:hover, select:hover, option:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
button:active, select:active, option:active {
  box-shadow: inset 0px 1px 4px 1px black !important;
}

.close-button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  background: linear-gradient(45deg, rgb(163, 0, 0), rgb(226, 63, 63));
}
.close-button img {
  width: 28px;
  height: 28px;
}

.destructive {
  background: linear-gradient(45deg, rgb(163, 0, 0), rgb(226, 63, 63)) !important;
}

.constructive {
  background: radial-gradient(ellipse farthest-corner at right bottom, rgb(132, 253, 132) 0%, rgb(132, 253, 207) 8%, rgb(164, 250, 238) 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, rgb(220, 255, 220) 8%, rgb(132, 253, 132) 25%) !important;
}

.progressive {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #c59c44 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%) !important;
}

.inactive {
  background: radial-gradient(ellipse farthest-corner at right bottom, rgb(216, 215, 215) 0%, rgb(173, 173, 173) 8%, rgb(165, 165, 165) 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, rgb(214, 214, 214) 8%, rgb(170, 170, 170) 25%) !important;
}

.informative {
  background: linear-gradient(to bottom right, rgb(141, 163, 223), rgb(81, 73, 202)) !important;
}

.steel {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  border-radius: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: silver;
  outline: 2px solid black;
  border-radius: 20px;
  box-shadow: inset 0px 1px 4px 1px rgb(41, 41, 41) !important;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgb(41, 41, 41);
  transition: 200ms all ease;
}
.switch input:checked + .slider {
  background: radial-gradient(ellipse farthest-corner at right bottom, rgb(132, 253, 132) 0%, rgb(132, 253, 207) 8%, rgb(164, 250, 238) 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, rgb(220, 255, 220) 8%, rgb(132, 253, 132) 25%);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px rgb(143, 235, 143);
}
.switch input:checked + .slider:before {
  transform: translateX(18px);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.item-table {
  width: 100%;
  border-bottom: 2px solid black;
  margin: 4px 0;
  border-collapse: collapse;
  align-items: center;
}
.item-table tbody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.6);
}
.item-table tr {
  font-size: 14px;
}
.item-table th {
  text-align: left;
  background: rgb(36, 30, 11);
  color: white;
}
.item-table td {
  padding: 3px 0;
}
.item-table .seating-nav button {
  border-radius: 100px;
}
.item-table .seating-nav button.icon {
  display: inline-flex;
  border-radius: 100%;
  background: none;
  padding: 0 2px;
  border: none;
}
.item-table .seating-nav button.icon img {
  width: 20px;
  height: 20px;
}
.item-table tfoot {
  font-weight: bold;
  color: rgb(138, 0, 0);
  border-top: 2px solid black;
}

.notification-container {
  display: flex;
  align-items: center;
}
.notification-container .notification {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid black;
  font-weight: bold;
  font-size: 22px;
  z-index: 1;
}
.notification-container .addendum {
  background: rgb(36, 30, 11);
  color: white;
  border-radius: 0 15px 15px 0;
  border: 1px solid black;
  font-weight: normal;
  font-size: 0.6em;
  padding: 2px 8px;
  padding-left: 5px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  gap: 3px;
  white-space: nowrap;
}

.app-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  padding: 5px;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  box-shadow: 0px 4px 10px 1px black;
}
.app-info .logo img {
  width: 50px;
}
.app-info .text {
  border-bottom: 4px double #979797;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.app-info .text .title {
  font-size: 42px !important;
  font-weight: bold;
  background: linear-gradient(to bottom right, rgb(132, 253, 132), rgb(164, 250, 238));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -5px;
}
.app-info .text .version {
  color: white;
}

.view-manager {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.add-staff-modal {
  max-width: 600px;
  padding: 10px;
}

.SectionContainer {
  margin: 0 auto;
  width: 100%;
}
.SectionContainer .section-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 0;
  width: 100%;
}
.SectionContainer .section-nav .section-column {
  display: flex;
}
.SectionContainer .section-nav .section-column .section-selector {
  display: grid;
  align-content: end;
}
.SectionContainer .section-nav .section-column .section-selector .notification-bar {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-bottom: -10px;
  margin-right: -5px;
  z-index: 3;
  pointer-events: none;
}
.SectionContainer .section-nav .section-column .section-selector .notification-bar .notification {
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  border-radius: 50px;
  width: auto;
  grid-gap: 3px;
  box-shadow: 0px 1px 4px 1px rgb(36, 30, 11);
}
.SectionContainer .section-nav .section-column .section-selector .section-button {
  border-radius: 15px 15px 0 0;
  padding: 6px 14px;
  box-shadow: 0px 4px 6px 1px rgb(36, 30, 11);
  border-bottom: none;
}
.SectionContainer .section-nav .section-column .section-selector .section-button .title {
  font-size: 28px;
  font-weight: normal;
}
.SectionContainer .section-nav .section-column .section-selector .active {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: rgb(196, 177, 166);
  z-index: 2;
  padding-bottom: 10px;
  text-shadow: 0px 2px 4px black;
}
.SectionContainer .section-nav .section-column .section-selector .active .title {
  text-shadow: 0em 4px 12px black;
}
.SectionContainer .Section {
  transform: scale(1);
  width: 1000px;
  height: 700px;
  box-shadow: 0px 4px 10px 1px black;
  border: 4px solid black;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  position: relative;
}
.SectionContainer .Section .overlay {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 700px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.SectionContainer .Section .section-image {
  width: 1000px;
  height: 700px;
  transform: scale(1);
  position: absolute;
  z-index: -1;
}

.ReceiptManager {
  color: black;
  width: 300px;
  height: 100%;
  display: grid;
  align-content: space-between;
}
.ReceiptManager .header {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  padding: 5px 10px;
  border-radius: 0 30px 0 0;
  border: 4px solid black;
}
.ReceiptManager .header .title {
  font-size: 28px;
  color: white;
}
.ReceiptManager .header .under-title {
  color: rgb(196, 177, 166);
  font-size: 14px;
}
.ReceiptManager .receipt-filter {
  display: flex;
  justify-content: center;
}
.ReceiptManager .receipt-list {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  font-weight: bold;
  gap: 5px;
  overflow: auto;
  max-height: 600px;
  overflow-y: auto;
}
.ReceiptManager .total-earnings {
  color: lightgrey;
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid rgb(196, 177, 166);
  text-shadow: 0px 2px 4px black;
}

.Seating {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  border: none;
  background: none;
  border-radius: 50% 50% 0 0;
  font-size: 1em;
  justify-items: center;
  transform: translateX(-50%);
  filter: blur(0);
  z-index: 3;
  white-space: nowrap;
}
.Seating .upper-wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 50px;
  margin-top: -42px;
  align-items: center;
  gap: 2px;
  position: absolute;
  z-index: 1;
}
.Seating .upper-wrapper .orderinfo {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-weight: normal;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41);
}
.Seating .upper-wrapper .orderinfo .amount {
  display: flex;
  align-items: center;
  background: rgb(36, 30, 11);
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 0 5px;
  border: 1px solid black;
  gap: 4px;
}
.Seating .upper-wrapper .orderinfo .time {
  border-radius: 0 10px 10px 0;
  padding: 0 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.Seating .upper-wrapper .waiter {
  color: white;
  padding: 1px 5px;
  text-shadow: 0 0 black;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black) !important;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41);
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Seating .upper-wrapper .waiter img {
  width: 20px;
  height: 20px;
}
.Seating .lower-wrapper .customers {
  display: grid;
  justify-items: center;
  gap: 1px;
  text-align: center;
  padding: 0;
}
.Seating .lower-wrapper .customers .customer {
  display: flex;
  align-items: center;
  gap: 4px;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  box-shadow: 0px 1px 6px 1px black;
  color: white;
  padding: 1px 5px;
  border-radius: 10px;
  outline: 2px solid black;
  margin: 2px;
  font-size: 14px;
}
.Seating .lower-wrapper .customers .customer img {
  height: 13px;
  width: 13px;
}
.Seating .editing {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.Seating .editing:hover {
  display: none;
}
.Seating .editing p {
  margin: 0;
}
.Seating .editing .dots {
  font-size: 50px;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: -8px;
}
.Seating .editing span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.Seating .editing span:nth-child(2) {
  animation-delay: 0.2s;
}
.Seating .editing span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.Seating .number-display {
  font-size: 1.5em;
  border-radius: 100%;
  border: 6px double black;
  box-shadow: 0 0 4px 1px rgb(41, 41, 41);
  transition: all 100ms ease-in-out;
}
.Seating .number-display.multi {
  width: 80px;
  height: 80px;
  border: 6px double black;
}
.Seating .number-display.single {
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.Seating .number-display:hover {
  transform: scale(1.05);
}
.Seating .number-display .number {
  font-size: 2em;
}
.Seating .number-display .unpaid-tab-container {
  transform: rotate(340deg) translate(-18px, -18px) rotate(-340deg);
  position: absolute;
}
.Seating .number-display .is-photography-container {
  transform: rotate(240deg) translate(-30px, -30px) rotate(-240deg);
  position: absolute;
}

.Payouts {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  box-shadow: 0px 4px 10px 1px black;
  color: white;
  margin: 10px 50px;
  padding: 10px;
  border: 4px solid black;
  width: 1000px;
  min-height: 600px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
}
.Payouts .column {
  display: grid;
  grid-gap: 10px;
}
.Payouts .column.left {
  display: grid;
  grid-template-rows: 1fr auto;
}
.Payouts .column section {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.Payouts .column section .title {
  font-size: 28px;
  color: rgb(196, 177, 166);
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin-bottom: 5px;
  text-shadow: 0px 2px 4px black;
}
.Payouts .column section .under-title {
  color: rgb(196, 177, 166);
  font-size: 14px;
  text-align: center;
}
.Payouts .column section .content {
  box-shadow: inset 0px 4px 10px 1px black;
  background: rgb(20, 20, 20);
  border-radius: 20px;
  padding: 10px;
  z-index: 2;
  height: 100%;
}

.TipsManager {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.TipsManager .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.TipsManager .list .tip {
  padding: 5px 10px;
  background: linear-gradient(to bottom right, #D1B464, #8A6E2F);
  border-radius: 20px;
}
.TipsManager .list .tip .name {
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
.TipsManager .list .tip .amount {
  color: black;
  font-weight: normal;
  white-space: nowrap;
}
.TipsManager .total {
  color: lightgrey;
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid rgb(196, 177, 166);
  text-shadow: 0px 2px 4px black;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: grid;
  place-items: center;
}
.modal-container .Modal {
  background: rgb(20, 20, 20);
  box-shadow: 0px 2px 4px 1px black;
  min-width: 500px;
  border: 1px solid black;
}
.modal-container .Modal .title-bar {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  color: rgb(196, 177, 166);
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  box-shadow: 0px 2px 4px 1px black;
}
.modal-container .Modal .title-bar .title {
  text-shadow: 0px 2px 4px black;
  font-size: 28px;
  padding-left: 10px;
  font-family: "Dancing Script", cursive;
}
.modal-container .Modal .title-bar .close-button {
  margin: 5px;
}
.modal-container .Modal .content {
  padding: 0 10px;
  color: white;
}

.ReceiptModal .paid-amount {
  display: flex;
  gap: 5px;
}
.ReceiptModal .paid-amount label {
  white-space: nowrap;
}
.ReceiptModal .paid-amount input {
  width: 100%;
  background: rgb(36, 30, 11);
  color: white;
}
.ReceiptModal .item-table tfoot {
  color: rgb(196, 177, 166);
}
.ReceiptModal .receipt-RP a {
  color: rgb(138, 0, 0);
}
.ReceiptModal .receipt-RP a:visited {
  color: rgb(138, 0, 0);
}

.AttendingStaff .delete-staff-button {
  background: radial-gradient(ellipse farthest-corner at right bottom, rgb(216, 215, 215) 0%, rgb(173, 173, 173) 8%, rgb(165, 165, 165) 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, rgb(214, 214, 214) 8%, rgb(170, 170, 170) 25%);
}
.AttendingStaff .delete-staff-button:hover {
  background: linear-gradient(45deg, rgb(163, 0, 0), rgb(226, 63, 63));
  text-decoration: line-through;
}
.AttendingStaff .perPerson, .AttendingStaff .calculations {
  color: rgb(196, 177, 166);
  margin-top: 5px;
  padding-top: 3px;
  text-shadow: 0px 2px 4px black;
}
.AttendingStaff .per-person, .AttendingStaff .calculations {
  border-top: 1px solid rgb(196, 177, 166);
}
.AttendingStaff .per-person {
  color: lightgrey;
}

.TipModal {
  padding: 5px 0;
  display: grid;
  grid-gap: 5px;
}
.TipModal .row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.TipModal input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(196, 177, 166);
  color: white;
  font-size: 16px;
}
.TipModal input::-moz-placeholder {
  color: rgb(196, 177, 166);
}
.TipModal input::placeholder {
  color: rgb(196, 177, 166);
}
.TipModal .submit-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.SeatingManagerContainer {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.SeatingManagerContainer .SeatingManager {
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-radius: 50px 50px 20px 20px;
  display: grid;
  min-width: 450px;
  color: white;
  padding: 15px;
  position: relative;
  border: 4px solid black;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .title {
  text-shadow: 0.1em 0.1em 0.2em black;
}
.SeatingManagerContainer .SeatingManager .blur {
  border-radius: inherit;
  height: 100%;
}
.SeatingManagerContainer .SeatingManager .header {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  width: 100%;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter {
  display: grid;
  justify-self: start;
  align-content: center;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter select {
  background: linear-gradient(to bottom right, lightgrey, grey);
  border-radius: 15px;
  padding: 2px;
}
.SeatingManagerContainer .SeatingManager .header .seatingnumber {
  display: grid;
  justify-self: center;
  place-items: center;
  border-radius: 100%;
  border: 6px double black;
  width: 100px;
  height: 100px;
  position: absolute;
  box-shadow: 0px 4px 10px 1px black;
  font-size: 4.5em;
  margin-top: -8px;
  color: black;
}
.SeatingManagerContainer .SeatingManager .header .close-button {
  justify-self: end;
  align-self: center;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .navbar {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.SeatingManagerContainer .SeatingManager .navbar .column {
  display: grid;
  align-content: end;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .navbar .column .navsection {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .reset-button {
  display: flex;
  align-items: start;
  justify-content: center;
  color: black;
  margin-top: 10px;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .SeatingManager .reset-button img {
  height: 18px;
  width: 18px;
}
.SeatingManagerContainer .view-tab-container {
  display: grid;
}
.SeatingManagerContainer .view-tab-container .view-tab-button {
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  grid-gap: 5px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .view-tab-container .view-tab-button .column {
  display: grid;
  justify-items: start;
  align-items: end;
  grid-gap: 0;
}
.SeatingManagerContainer .view-tab-container .view-tab-button img {
  height: 32px;
  width: 32px;
}

.OrderManager {
  background: bisque;
  background-image: url("./../assets/icons/dark-fabric.png");
  color: black;
  border: 2px solid rgb(41, 41, 41);
  display: grid;
  max-height: 400px;
  overflow-y: auto;
  padding: 8px;
  border: 2px solid black;
  box-shadow: inset 0px 1px 10px 1px black;
}
.OrderManager .header {
  font-size: 24px;
  border-bottom: 4px double black;
}
.OrderManager button.icon {
  border-radius: 100%;
  border: none;
  background: none;
}
.OrderManager button.icon img {
  width: 26px;
  height: 26px;
}
.OrderManager button.text {
  border-radius: 999px;
}
.OrderManager .customer-container {
  display: grid;
  grid-auto-flow: row;
}
.OrderManager .customer-container .customer {
  margin: 8px 0;
}
.OrderManager .customer-container .customer .name-nav {
  display: flex;
  justify-content: center;
}
.OrderManager .customer-container .customer .name-nav input {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  font-size: 20px;
  text-align: left;
  width: 100%;
  color: rgb(138, 0, 0);
  font-weight: medium;
}
.OrderManager .customer-container .customer .name-nav input::-moz-placeholder {
  color: #79513E;
}
.OrderManager .customer-container .customer .name-nav input::placeholder {
  color: #79513E;
}
.OrderManager .customer-container .customer .customer-nav {
  display: flex;
  justify-content: space-between;
}
.OrderManager .customer-container .customer .item-table .end {
  display: flex;
  justify-content: flex-end;
}
.OrderManager .customer-container .customer .item-table .item-info-button {
  background: none;
  border: none;
  padding: 0;
}
.OrderManager .orders-nav {
  display: flex;
  justify-content: center;
  padding-top: 3px;
}
.OrderManager .orders-nav button.icon img {
  width: 32px;
  height: 32px;
}

.SeatingManagerContainer .MenuManager {
  display: grid;
  position: relative;
  background: bisque;
  background-image: url("./../assets/icons/dark-fabric.png");
  color: white;
  border: 4px solid black;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .MenuManager .menu-title {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: rgb(138, 0, 0);
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  width: 100%;
  box-shadow: 0px 2px 4px 1px black;
}
.SeatingManagerContainer .MenuManager .menu-title .customer-title {
  color: white;
  padding: 0 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.SeatingManagerContainer .MenuManager .menu-title .close-button {
  margin: 5px;
}
.SeatingManagerContainer .MenuManager .menu-container {
  -moz-column-count: 2;
       column-count: 2;
  padding: 5px 10px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.SeatingManagerContainer .MenuManager .menu-container .type {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  padding: 5px;
}
.SeatingManagerContainer .MenuManager .menu-container .type .type-title {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: black;
  font-size: 26px;
  text-align: center;
  margin: 2px 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  gap: 5px;
  margin: 1px 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-title {
  display: flex;
  gap: 5px;
  align-content: center;
  color: black;
  font-weight: bold;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-title .item-info-button {
  background: none;
  border: none;
  padding: 0;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item .item-nav button {
  box-shadow: 0px 2px 4px 1px black;
  transition: none;
}
.SeatingManagerContainer .MenuManager .menu-container .type .item-container .item-info {
  display: none;
}

.InfoboxContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: grid;
  place-items: center;
}
.InfoboxContainer .Infobox {
  background: bisque;
  background-image: url("./../assets/icons/dark-fabric.png");
  box-shadow: 0px 4px 10px 1px black;
  border: 4px solid black;
  width: 80%;
}
.InfoboxContainer .Infobox .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: white;
  font-size: 22px;
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  border-bottom: 2px solid black;
}
.InfoboxContainer .Infobox .info-title .close-button {
  margin: 5px;
}
.InfoboxContainer .Infobox .section {
  color: black;
  padding: 5px 0;
}
.InfoboxContainer .Infobox .section .section-header {
  color: rgb(138, 0, 0) !important;
}
.InfoboxContainer .Infobox .section .cursive {
  font-size: 26px;
  color: rgb(138, 0, 0);
  font-weight: bold;
}
.InfoboxContainer .Infobox .section p {
  margin: 0;
  font-weight: bold;
}
.InfoboxContainer .Infobox .info-container {
  padding: 0 10px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.InfoboxContainer .Infobox .info-container .noresult {
  color: rgb(75, 75, 75) !important;
}

.confirm-box-container {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
}
.confirm-box-container .confirm-box {
  background: bisque;
  background-image: url("./../assets/icons/dark-fabric.png");
  background: linear-gradient(to bottom right, rgb(49, 49, 49), black);
  color: white;
  padding: 10px;
  border-radius: 25px;
  border: 4px double black;
  z-index: 99;
  box-shadow: 0px 4px 10px 1px black;
}
.confirm-box-container .confirm-box .title {
  font-weight: bold;
}
.confirm-box-container .confirm-box .message {
  margin: 10px 0;
}
.confirm-box-container .confirm-box .options {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.confirm-box-container .confirm-box .options button {
  box-shadow: 0px 4px 10px 1px black;
}
.confirm-box-container .confirm-box .options button:active {
  box-shadow: inset 0px 1px 4px 1px black;
}
.confirm-box-container .confirm-box .options .yes {
  background: linear-gradient(45deg, rgb(163, 0, 0), rgb(226, 63, 63));
  padding: 2px 6px;
}
.confirm-box-container .confirm-box .options .no {
  background: radial-gradient(ellipse farthest-corner at right bottom, rgb(216, 215, 215) 0%, rgb(173, 173, 173) 8%, rgb(165, 165, 165) 30%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, rgb(214, 214, 214) 8%, rgb(170, 170, 170) 25%);
  padding: 2px 6px;
}

.TabManagerContainer {
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  filter: drop-shadow(0 0 5px rgb(41, 41, 41));
}
.TabManagerContainer button {
  transition: none !important;
}
.TabManagerContainer .TabManager {
  background-image: url("./../assets/icons/paper.webp");
  color: black;
  list-style: none;
  padding: 10px 10px 30px 10px;
  min-width: 300px;
  -webkit-mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) 50%/14px 100%;
          mask: conic-gradient(from -45deg at bottom, rgba(0, 0, 0, 0), #000 1deg 89deg, rgba(0, 0, 0, 0) 90deg) 50%/14px 100%;
}
.TabManagerContainer .TabManager .blur {
  margin-top: -10px;
  margin-left: -10px;
}
.TabManagerContainer .TabManager .name {
  font-size: 20px;
  color: rgb(138, 0, 0);
}
.TabManagerContainer .TabManager .tab-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.TabManagerContainer .TabManager .tab-nav .receipt {
  color: grey;
}
.TabManagerContainer .TabManager .tab-list {
  max-height: 300px;
  overflow-y: auto;
}
.TabManagerContainer .TabManager .view-nav {
  display: flex;
  border-top: 2px dotted grey;
  border-bottom: 2px dotted grey;
  padding: 4px 0;
  justify-content: space-between;
}
.TabManagerContainer header {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  width: 100%;
  justify-content: start;
  padding-bottom: 10px;
}
.TabManagerContainer header .title {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: none !important;
}
.TabManagerContainer header .close-button {
  position: absolute;
  justify-self: end;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
}

.receipt-RP {
  display: block;
}
.receipt-RP textarea {
  margin-top: 5px;
  word-break: break-word;
  width: calc(100% - 8px);
  resize: none;
  border: 2px solid black;
  font-size: 14px;
  background: rgb(36, 30, 11);
  color: white;
}

.Receipt {
  padding: 5px 10px;
  border-radius: 20px;
}
.Receipt .name {
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
.Receipt .data {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
.Receipt .data .time img {
  margin-right: 3px;
  width: 13px;
  height: 13px;
}
.Receipt .total {
  color: rgb(138, 0, 0);
  display: flex;
  justify-content: space-between;
}

main {
  display: grid;
  place-items: center;
  background-image: url("./../assets/background/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
main .blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}/*# sourceMappingURL=main.css.map */