@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.MultiToggle {
  display: flex;
  justify-content: center;
}

.MultiToggleOption {
  background: #373737;
  color: #fff;
  font-size: 14px;
  padding: 3px 8px;
  border: 1px solid black;
  font-size: 14px;
  position: relative;
}
.MultiToggleOption.active {
  background: #151515;
}
.MultiToggleOption.large {
  font-size: 18px;
  padding: 5px 10px;
}
.MultiToggleOption:first-child:last-child {
  border-radius: 10px;
}
.MultiToggleOption:first-child {
  border-radius: 10px 0 0 10px;
}
.MultiToggleOption:last-child {
  border-radius: 0 10px 10px 0;
}
.MultiToggleOption:hover {
  filter: none;
}

.Button {
  border: 1px solid #0e0e0e;
  border-radius: 6px;
  padding: 2px 7px;
  font-size: 14px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em #222;
  display: flex;
  align-items: center;
  gap: 4px;
}
.Button img {
  margin: 0;
  padding: 0;
}
.Button.progressive {
  color: black;
  text-shadow: none;
}
.Button.inactive {
  background: none;
  pointer-events: none;
  opacity: 0.4;
}
.Button.loading {
  position: relative;
  /*
  & .Spinner {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }


  & .content {
      color: rgba(255, 255, 255, 0);
      text-shadow: none;
  }
  */
}

.ListItem {
  background: red;
}

.Table {
  border-collapse: collapse;
  color: #fff;
  width: 100%;
}

.TableItem {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}
.TableItem:nth-child(even) {
  background: rgba(44, 44, 44, 0.8549019608);
}
.TableItem td {
  margin: 5px 8px;
  white-space: nowrap;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TableItem td:first-child {
  margin: 0;
  margin-right: 8px !important;
}
.TableItem td:last-child {
  margin: 0;
  margin-left: 8px !important;
}
.TableItem td.main {
  width: 100%;
}
.TableItem td.text {
  text-shadow: 0.1em 0.1em 0.2em black;
  text-align: left;
}
.TableItem td.number {
  text-align: right;
}
.TableItem td.nav {
  display: flex;
  justify-content: end !important;
  gap: 5px;
}

.Dropdown {
  border: 1px solid #0e0e0e;
  border-radius: 6px;
  padding: 2px 17px 2px 7px;
  font-size: 14px;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/icons/dropdown-white.png") 96% center no-repeat;
  background-color: rgba(34, 34, 34, 0.8235294118);
}

.DropdownItem {
  background-color: #373737;
  border-radius: 10px;
}

.CloseButton {
  display: grid;
  place-items: center;
  background: rgba(80, 80, 80, 0.87);
  border: 1px solid #0e0e0e;
  margin: 0;
  padding: 0;
  box-shadow: inset 0px 0px 1px 0px black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.CloseButton img {
  height: 16px;
  width: 16px;
}

.IconButton {
  background: none;
  border: none;
  outline: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.IconButton:active {
  box-shadow: none !important;
}

.ContextMenu {
  z-index: 99;
  position: fixed;
  background: #222;
  border: 1px solid #0e0e0e;
  padding: 5px;
  border-radius: 10px;
}
.ContextMenu .title {
  color: grey;
  text-align: center;
  margin: 3px 0;
}
.ContextMenu .list {
  display: grid;
}
.ContextMenu .list .noaccess {
  max-width: 160px;
  text-align: center;
  color: rgb(168, 63, 63);
}

.ContextMenuItem {
  background: none;
  border: none;
  border-bottom: 1px solid #0e0e0e;
  color: white;
}
.ContextMenuItem:last-child {
  border: none;
}
.ContextMenuItem:hover {
  background: rgba(65, 65, 65, 0.678);
}

.confirm-box-container {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 98;
}
.confirm-box-container .confirm-box {
  background: rgba(34, 34, 34, 0.8235294118);
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
  z-index: 99;
  box-shadow: 0px 0px 1px 0px black;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.confirm-box-container .confirm-box .title {
  font-weight: bold;
  font-size: 14px;
  color: rgb(196, 177, 166);
  text-align: center;
}
.confirm-box-container .confirm-box .message {
  margin: 10px 0;
}
.confirm-box-container .confirm-box .options {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.confirm-box-container .confirm-box .options button {
  box-shadow: 0px 0px 1px 0px black;
}
.confirm-box-container .confirm-box .options button:active {
  box-shadow: inset 0px 0px 1px 0px black;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: grid;
  place-items: center;
}
.modal-container .Modal {
  box-shadow: 0px 0px 1px 0px black;
  border: 1px solid #0e0e0e;
}
.modal-container .Modal .title-bar {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 2px 5px;
  color: white;
  background: #444C44;
  border-bottom: 1px solid #0e0e0e;
}
.modal-container .Modal .title-bar .title {
  text-shadow: 0px 2px 4px black;
  font-size: 18px;
}
.modal-container .Modal .title-bar .close-button {
  margin: 5px;
}
.modal-container .Modal .content {
  color: white;
  background: rgba(34, 34, 34, 0.8235294118);
}

.Toggle {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  border-radius: 10px;
}
.Toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.8235294118);
  outline: 1px solid #0e0e0e;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.Toggle .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: rgb(236, 236, 236);
  border-radius: 50%;
  box-shadow: inset 0px 0px 1px 0px black;
  transition: 200ms all ease;
}
.Toggle input:checked + .slider {
  background: rgb(86, 119, 86);
}
.Toggle input:focus + .slider {
  box-shadow: 0 0 1px grey;
}
.Toggle input:checked + .slider:before {
  transform: translateX(12px);
}

.NotificationBar {
  position: absolute;
  top: -10px;
  left: 10px;
  display: flex;
  justify-content: end;
  width: 100%;
  z-index: 1;
}
.NotificationBar .item {
  background: rgb(168, 63, 63);
  color: white;
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid #0e0e0e;
  pointer-events: none;
  font-size: 14px;
  font-family: "Roboto Condensed";
}
.NotificationBar .item.small {
  height: 18px;
  width: 18px;
  font-size: 12px;
}

.Logo {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
}
.Logo .image {
  width: 70px;
  height: 70px;
}
.Logo .info-container {
  display: grid;
  align-content: center;
}
.Logo .info-container .title {
  color: #fff;
  font-family: "Dancing Script";
  font-size: 32px;
  margin-bottom: -6px;
}
.Logo .info-container .author {
  color: rgb(190, 190, 190);
  font-size: 14px;
}

@keyframes ldio-y1lg4s4vfo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-y1lg4s4vfo div {
  left: 20px;
  top: 20px;
  position: absolute;
  animation: ldio-y1lg4s4vfo linear 1.2048192771s infinite;
  background: #ffffff;
  width: 6px;
  height: 12px;
  border-radius: 3px/6px;
  transform-origin: 3px 26px;
}

.ldio-y1lg4s4vfo div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1044176707s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1.0040160643s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9036144578s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8032128514s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.702811245s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6024096386s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5020080321s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4016064257s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3012048193s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2008032129s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1004016064s;
  background: #ffffff;
}

.ldio-y1lg4s4vfo div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ffffff;
}

.loadingio-spinner-spinner-36d38ny93kh {
  width: 12px;
  height: 17px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-y1lg4s4vfo {
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-y1lg4s4vfo div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.SectionManager {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: scale(1);
}

.Payouts {
  background: rgba(34, 34, 34, 0.4509803922);
  color: white;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 960px;
  text-shadow: 0.1em 0.1em 0.2em black;
  min-height: 600px;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.Payouts .column {
  display: grid;
  grid-gap: 20px;
}
.Payouts .column.left {
  display: grid;
  grid-template-rows: auto 1fr;
}
.Payouts .column section {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}
.Payouts .column section .nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}
.Payouts .column section .nav .title {
  font-size: 14px;
  color: #fff;
  font-family: "Nunito";
  margin-bottom: 5px;
  font-weight: bold;
}
.Payouts .column section .nav .under-title {
  color: rgb(196, 177, 166);
  font-size: 14px;
  text-align: center;
}
.Payouts .column section .content {
  box-shadow: inset 0px 0px 1px 0px black;
  background: rgba(34, 34, 34, 0.8235294118);
  border: 1px solid #0e0e0e;
  z-index: 2;
  height: 100%;
}

* {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.87);
  border-radius: 10px;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  height: 100vh;
  margin: auto;
}

.transparent {
  opacity: 0.4;
}

.disabled {
  cursor: not-allowed !important;
}
.disabled:hover {
  filter: none !important;
}

.ghost {
  pointer-events: none;
}

button:hover, select:hover, option:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
button:active, select:active, option:active {
  box-shadow: inset 0px 1px 4px 1px black !important;
}

.destructive {
  background: rgb(168, 63, 63) !important;
}

.constructive {
  background: rgb(86, 119, 86) !important;
}

.progressive {
  background: rgb(173, 164, 88) !important;
}

.informative {
  background: blue !important;
}

.neutral {
  background: #373737 !important;
}

.dark {
  background: #222 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.SectionContainer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 0;
}
.SectionContainer .Section {
  transform: scale(1);
  width: 1000px;
  height: 700px;
  border: 1px solid;
  background: rgba(44, 44, 44, 0.8549019608);
  position: relative;
}
.SectionContainer .Section.moving-item-mode {
  outline: 2px solid red;
}
.SectionContainer .Section .moving-item-mode-info {
  color: red;
  background: rgba(44, 44, 44, 0.8549019608);
  position: absolute;
  width: 100%;
  z-index: 3;
}
.SectionContainer .Section .overlay {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 700px;
  box-shadow: inset 0px 1px 10px 1px black;
}
.SectionContainer .Section .section-image {
  width: 1000px;
  height: 700px;
  transform: scale(1);
  position: absolute;
  z-index: -1;
}
.SectionContainer .context-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ReceiptManager {
  color: black;
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-between;
}
.ReceiptManager .filter {
  display: flex;
  justify-content: center;
}
.ReceiptManager .list {
  overflow: auto;
  overflow-y: auto;
  padding: 5px;
  max-height: 600px;
}
.ReceiptManager .bottom-list {
  border-top: 1px solid #0e0e0e;
  background: rgba(65, 65, 65, 0.678);
}
.ReceiptManager .bottom-list .total {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.Seating {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  border: none;
  background: none;
  border-radius: 50% 50% 0 0;
  font-size: 1em;
  justify-items: center;
  transform: translateX(-50%);
  filter: blur(0);
  z-index: 3;
  white-space: nowrap;
}
.Seating .upper-wrapper {
  display: flex;
  flex-direction: column-reverse;
  pointer-events: none;
  height: 50px;
  margin-top: -42px;
  align-items: center;
  gap: 1px;
  position: absolute;
  z-index: 1;
}
.Seating .upper-wrapper .orderinfo {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-weight: normal;
  font-size: 0.9em;
  border-radius: 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.Seating .upper-wrapper .orderinfo .amount {
  display: flex;
  align-items: center;
  background: #222;
  color: white;
  border-radius: 10px 0 0 10px;
  padding: 0 5px;
  border: 1px solid black;
  gap: 4px;
}
.Seating .upper-wrapper .orderinfo .time {
  border-radius: 0 10px 10px 0;
  padding: 0 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.Seating .upper-wrapper .waiter {
  display: flex;
  align-items: center;
  gap: 3px;
  background: #222;
  color: white;
  padding: 2px 7px;
  border-radius: 20px;
  border: 1px solid #0e0e0e;
}
.Seating .upper-wrapper .waiter img {
  width: 16px;
  height: 16px;
}
.Seating .lower-wrapper {
  margin-top: -10px;
  z-index: 1;
  pointer-events: none;
}
.Seating .lower-wrapper .customers {
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 0;
}
.Seating .lower-wrapper .customers .customer {
  display: flex;
  align-items: center;
  gap: 4px;
  box-shadow: 0px 0px 1px 0px black;
  background: #222;
  color: white;
  padding: 0 5px;
  border-radius: 10px;
  outline: 1px solid #0e0e0e;
  margin: 3px;
  font-size: 14px;
}
.Seating .lower-wrapper .customers .customer img {
  height: 13px;
  width: 13px;
}
.Seating .lower-wrapper .unpaid-orders {
  background: rgb(86, 119, 86);
  color: #fff;
  padding: 0 5px;
  border-radius: 10px;
  outline: 1px solid #0e0e0e;
}
.Seating .editing {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.Seating .editing:hover {
  display: none;
}
.Seating .editing p {
  margin: 0;
}
.Seating .editing .dots {
  font-size: 50px;
  color: white;
  padding: 0;
  margin: 0;
  margin-top: -8px;
}
.Seating .editing span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.Seating .editing span:nth-child(2) {
  animation-delay: 0.2s;
}
.Seating .editing span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.Seating .number-display {
  font-size: 1.5em;
  border-radius: 100%;
  border: 6px double black;
  box-shadow: inset 0px 0px 1px 0px black;
  transition: all 200ms ease-in-out;
  width: 70px;
  height: 70px;
  border: 6px double black;
}
.Seating .number-display:hover {
  transform: scale(1.05);
}
.Seating .number-display .number {
  font-size: 2em;
  font-family: "Roboto Condensed";
  color: black;
}
.Seating .number-display .unpaid-tab-container {
  transform: rotate(340deg) translate(-18px, -18px) rotate(-340deg);
  position: absolute;
}
.Seating .number-display .is-photography-container {
  transform: rotate(240deg) translate(-30px, -30px) rotate(-240deg);
  position: absolute;
}

.TipsManager {
  display: grid;
  align-content: space-between;
  height: 200px;
}
.TipsManager .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  overflow-y: auto;
}
.TipsManager .bottom-list {
  margin-top: 5px;
  border-top: 1px solid #0e0e0e;
  background: rgba(65, 65, 65, 0.678);
}
.TipsManager .bottom-list .total {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.ReceiptModal {
  text-shadow: 0.1em 0.1em 0.2em black;
  padding: 10px;
}
.ReceiptModal .paid-amount {
  display: flex;
  gap: 5px;
}
.ReceiptModal .paid-amount label {
  white-space: nowrap;
}
.ReceiptModal .paid-amount input {
  width: 100%;
  background: rgba(44, 44, 44, 0.8549019608);
  color: white;
  border: 1px solid #0e0e0e;
}
.ReceiptModal .receipt-summary {
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
  padding: 5px 0;
  margin: 5px 0;
}
.ReceiptModal .receipt-summary .row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.ReceiptModal .receipt-RP a {
  color: white;
}
.ReceiptModal .receipt-RP a:visited {
  color: white;
}

.AttendingStaff {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.AttendingStaff .list {
  margin: 5px;
}
.AttendingStaff .bottom-list {
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid #0e0e0e;
}
.AttendingStaff .bottom-list .perPerson, .AttendingStaff .bottom-list .calculations {
  color: #fff;
  font-size: 14px;
  padding: 5px;
}
.AttendingStaff .bottom-list .total {
  border-top: 1px solid #0e0e0e;
  background: rgba(65, 65, 65, 0.678);
  color: #fff;
  font-size: 14px;
  padding: 5px;
}

.TipModal {
  padding: 10px;
  display: grid;
  grid-gap: 5px;
}
.TipModal .row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.TipModal input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(196, 177, 166);
  color: white;
  font-size: 16px;
}
.TipModal input::-moz-placeholder {
  color: grey;
}
.TipModal input::placeholder {
  color: grey;
}
.TipModal .submit-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.SeatingManagerContainer {
  position: absolute;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
}
.SeatingManagerContainer .SeatingManager {
  background: rgba(44, 44, 44, 0.8549019608);
  border-radius: 20px 20px 10px 10px;
  display: grid;
  gap: 8px;
  min-width: 450px;
  color: white;
  padding: 15px;
  position: relative;
  border: 1px solid #0e0e0e;
  box-shadow: 0px 0px 1px 0px black;
  font-size: 14px;
}
.SeatingManagerContainer .SeatingManager .blur {
  border-radius: inherit;
  height: 100%;
}
.SeatingManagerContainer .SeatingManager .header {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  width: 100%;
}
.SeatingManagerContainer .SeatingManager .header .assign-waiter {
  display: grid;
  justify-self: start;
  align-content: center;
}
.SeatingManagerContainer .SeatingManager .header .seatingnumber {
  display: grid;
  justify-self: center;
  place-items: center;
  border-radius: 100%;
  border: 6px double black;
  width: 80px;
  height: 80px;
  position: absolute;
  box-shadow: 0px 0px 6px 0px black;
  font-family: "Roboto Condensed";
  font-size: 4.5em;
  margin-top: -8px;
  color: black;
}
.SeatingManagerContainer .SeatingManager .header .close-button {
  justify-self: end;
}
.SeatingManagerContainer .SeatingManager .navbar {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}
.SeatingManagerContainer .SeatingManager .navbar .column {
  display: grid;
  align-content: end;
  grid-gap: 5px;
}
.SeatingManagerContainer .SeatingManager .navbar .column .navsection {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 5px;
}
.SeatingManagerContainer .view-tab-container {
  display: grid;
  justify-items: end;
  gap: 5px;
}
.SeatingManagerContainer .view-tab-container .row {
  display: flex;
  justify-content: end;
}
.SeatingManagerContainer .navbar-bottom {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.SeatingManagerContainer .navbar-bottom .column {
  display: flex;
  gap: 5px;
}
.SeatingManagerContainer .navbar-bottom .reset-button {
  display: flex;
  align-items: start;
  justify-content: center;
  color: black;
  box-shadow: 0px 4px 10px 1px black;
}
.SeatingManagerContainer .navbar-bottom .reset-button img {
  height: 18px;
  width: 18px;
}

.OrderManager {
  background: rgba(34, 34, 34, 0.8235294118);
  color: black;
  border: 1px solid #0e0e0e;
  display: grid;
  border: 1px solid #0e0e0e;
  box-shadow: inset 0px 0px 1px 0px black;
}
.OrderManager .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  background: rgba(80, 80, 80, 0.87);
  font-weight: bold;
  color: white;
  border-bottom: 1px solid #0e0e0e;
  max-width: 100%;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.OrderManager .header .label, .OrderManager .header button {
  margin: 5px;
}
.OrderManager button.icon {
  border-radius: 100%;
  border: none;
  background: none;
}
.OrderManager button.icon img {
  width: 26px;
  height: 26px;
}
.OrderManager button.text {
  border-radius: 999px;
}
.OrderManager .customer-container {
  display: grid;
  grid-auto-flow: row;
  max-height: 350px;
  overflow-y: auto;
}
.OrderManager .customer-container .emptylist {
  display: flex;
  justify-content: center;
  color: grey;
}

.raw-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1;
  background: rgba(34, 34, 34, 0.4509803922);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.MenuManager {
  display: grid;
  position: relative;
  background: rgba(34, 34, 34, 0.8235294118);
  color: white;
  border: 1px solid #0e0e0e;
}
.MenuManager .customer-title {
  color: white;
  padding: 0 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.MenuManager .menu-title {
  display: flex;
  flex-direction: row-reverse;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 18px;
  color: white;
  background: #444C44;
  width: 100%;
  box-shadow: 0px 0px 1px 0px black;
  border: 1px solid #0e0e0e;
}
.MenuManager .menu-title .close-button {
  margin: 5px;
}
.MenuManager .menu-container {
  padding: 5px 10px;
}
.MenuManager .menu-container .DiningItems {
  -moz-column-count: 2;
       column-count: 2;
}
.MenuManager .menu-container .ServiceItems {
  -moz-column-count: 1;
       column-count: 1;
}
.MenuManager .menu-container .type {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  padding: 5px;
}
.MenuManager .menu-container .type .type-title {
  border-bottom: 1px solid grey;
  font-weight: bold;
  color: rgb(196, 177, 166);
  font-size: 18px;
  margin: 2px 0;
}
.MenuManager .menu-container .type .item-container .item {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  gap: 5px;
  margin: 1px 0;
}
.MenuManager .menu-container .type .item-container .item .item-title {
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-content: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.MenuManager .menu-container .type .item-container .item .item-title .item-info-button {
  background: none;
  border: none;
  padding: 0;
}
.MenuManager .menu-container .type .item-container .item .item-nav {
  display: flex;
  gap: 1px;
}
.MenuManager .menu-container .type .item-container .item-info {
  display: none;
}

.MenuModalContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: grid;
  place-items: center;
}
.MenuModalContainer .MenuModal {
  background: rgba(34, 34, 34, 0.8235294118);
  border: 1px solid #0e0e0e;
  width: 80%;
}
.MenuModalContainer .MenuModal .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  text-shadow: 0.1em 0.1em 0.2em black;
  color: white;
  font-size: 18px;
  background: #444C44;
  border-bottom: 1px solid #0e0e0e;
  box-shadow: 0px 0px 1px 0px black;
  font-weight: bold;
}
.MenuModalContainer .MenuModal .section {
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid #0e0e0e;
}
.MenuModalContainer .MenuModal .section .section-header {
  color: rgb(196, 177, 166);
  font-weight: bold;
}
.MenuModalContainer .MenuModal .section p {
  margin: 0;
}
.MenuModalContainer .MenuModal .section:last-child {
  border: none;
}
.MenuModalContainer .MenuModal .info-container {
  padding: 0 10px;
  box-shadow: inset 0px 0px 1px 0px black;
}
.MenuModalContainer .MenuModal .info-container .noresult {
  color: grey !important;
}

.TabManagerContainer {
  position: absolute;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: 14px;
}
.TabManagerContainer button {
  transition: none !important;
}
.TabManagerContainer .TabManager {
  background: rgba(65, 65, 65, 0.678);
  color: black;
  list-style: none;
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
  border: 1px solid #0e0e0e;
}
.TabManagerContainer .TabManager header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.TabManagerContainer .TabManager header .title {
  font-size: 18px;
  font-weight: bold;
  text-shadow: none !important;
}
.TabManagerContainer .TabManager header .close-button {
  position: absolute;
  justify-self: end;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
}
.TabManagerContainer .TabManager .blur {
  margin-top: -10px;
  margin-left: -10px;
}
.TabManagerContainer .TabManager .tab-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.TabManagerContainer .TabManager .tab-nav .receipt-link a {
  color: white !important;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TabManagerContainer .TabManager .tab-list {
  max-height: 300px;
  overflow-y: auto;
}
.TabManagerContainer .TabManager .tab-list .name {
  font-size: 14px;
  color: rgb(196, 177, 166);
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.TabManagerContainer .TabManager .view-nav {
  display: flex;
  padding: 4px 0;
  justify-content: center;
  align-items: center;
}
.TabManagerContainer .tab-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 7px 0;
  padding: 5px 0;
  border-top: 1px solid #0e0e0e;
  border-bottom: 1px solid #0e0e0e;
}

.receipt-RP {
  display: block;
}
.receipt-RP textarea {
  margin-top: 5px;
  word-break: break-word;
  width: calc(100% - 8px);
  resize: none;
  border: 1px solid #0e0e0e;
  padding: 5px;
  font-size: 14px;
  background: rgba(44, 44, 44, 0.8549019608);
  color: white;
}

.Receipt {
  padding: 5px 10px;
  border-radius: 20px;
}
.Receipt .name {
  color: black;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
}
.Receipt .data {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}
.Receipt .data .time img {
  margin-right: 3px;
  width: 13px;
  height: 13px;
}
.Receipt .total {
  display: flex;
  justify-content: space-between;
}

.TopNav {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  border-bottom: 1px solid #0e0e0e;
  background: rgba(34, 34, 34, 0.4509803922);
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.TopNav .column {
  padding: 5px;
}
.TopNav .column .section-nav {
  display: flex;
  justify-content: center;
}
.TopNav .column .section-nav .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: grey;
}
.TopNav .column .section-nav .sections {
  display: grid;
  gap: 5px;
}
.TopNav .column .section-nav .sections .row {
  display: grid;
  justify-content: center;
  gap: 2px;
}
.TopNav .column .section-nav .sections .row .title {
  text-align: center;
  color: rgb(190, 190, 190);
}
.TopNav .column .section-nav .sections .row .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TopNav .column .section-nav .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}
.TopNav .column .user {
  display: grid;
  justify-content: end;
  height: 100%;
  align-items: center;
  gap: 5px;
  color: white;
}
.TopNav .column .user .character {
  text-align: right;
}
.TopNav .column .user .dangerous-settings {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Customer {
  position: relative;
}
.Customer.active {
  background: #444C44;
}
.Customer .name-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  gap: 5px;
}
.Customer .name-nav input {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(80, 80, 80, 0.87);
  background: none;
  font-size: 18px;
  text-align: left;
  width: 100%;
  color: rgb(196, 177, 166);
  font-family: "Montserrat", sans-serif;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.Customer .name-nav input:focus {
  background: rgba(44, 44, 44, 0.8549019608);
}
.Customer .name-nav input::-moz-placeholder {
  color: grey;
}
.Customer .name-nav input::placeholder {
  color: grey;
}
.Customer .orders {
  margin: 10px;
}
.Customer .customer-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0e0e0e;
  background: rgba(65, 65, 65, 0.678);
  padding: 5px;
}
.Customer .customer-nav .col {
  display: flex;
  gap: 5px;
}

.SectionPointer {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #222;
  outline: none;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 8px double white;
  color: white;
  transition: all 200ms ease !important;
}
.SectionPointer:hover {
  transform: scale(1.05);
}

.EditSectionPointerModal {
  padding: 10px;
  display: grid;
  gap: 5px;
}
.EditSectionPointerModal .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.EditSectionPointerModal .bottom-nav {
  display: flex;
  padding-top: 5px;
  border-top: 1px solid #0e0e0e;
}

.AddSeatingModal {
  padding: 10px;
  display: grid;
  gap: 5px;
}
.AddSeatingModal .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.AddSeatingModal .row .selector input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
}
.AddSeatingModal .bottom-nav {
  display: flex;
  padding-top: 5px;
  border-top: 1px solid #0e0e0e;
}

.MessageManager {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: grid;
  justify-items: center;
  gap: 2px;
}
.MessageManager .message {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #0e0e0e;
  box-shadow: 0px 0px 1px 0px black;
}
.MessageManager .message .title-bar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.MessageManager .message .title-bar .title {
  font-weight: bold;
}
.MessageManager .message .title-bar .close-button {
  background: none;
  border: none;
  color: white;
}
.MessageManager .message.error {
  background: rgb(168, 63, 63);
  color: white;
}
.MessageManager .message.warning {
  background: rgb(173, 164, 88);
  color: black;
}
.MessageManager .message.warning .close-button {
  color: black;
}

.Footer {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: rgba(34, 34, 34, 0.4509803922);
  color: #fff;
  width: 100%;
  border-top: 1px solid #0e0e0e;
}
.Footer .content {
  padding: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  color: rgb(190, 190, 190);
}
.Footer .content .column {
  text-align: center;
}
.Footer .content .column .title {
  font-weight: bold;
}

.AddServiceItem {
  padding: 5px;
  display: grid;
  gap: 2px;
}
.AddServiceItem .row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.AddServiceItem .row.bottom-nav {
  display: flex;
  justify-content: space-between;
}
.AddServiceItem .selector input {
  background: rgba(34, 34, 34, 0.8235294118);
  color: #fff;
  border: 1px solid #0e0e0e;
  color-scheme: dark;
}

main {
  display: grid;
  place-items: center;
  background-image: url("./../assets/background/palms2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  gap: 10px;
}
main .blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}/*# sourceMappingURL=main.css.map */