@import 'colorset';

.TabManagerContainer {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    filter: drop-shadow(0 0 5px $darkgrey);


    & .TabManager {
        //background: linear-gradient(to bottom, white, rgb(219, 219, 219));
        background-image: url("./../assets/icons/paper.png");
        color: black;
        list-style: none;
        padding: 10px 10px 30px 10px;
        min-width: 300px;
        mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/14px 100%;

        & .blur {
            margin-top: -10px;
            margin-left: -10px;
        }

        & .name {
            font-size: 20px;
            color: $wine;
        }

        & .tabNav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


            & .receipt {
                color: grey;
            }
        }

        & .tabList {
            max-height: 300px;
            overflow-y: auto;
        }

        & .receiptRP {
            display: block;

            & textarea {
                margin-top: 5px;
                word-break: break-word;
                width: calc(100% - 8px);
                resize: none;
                border: 2px solid black;
                font-size: 14px;
                background: $background-dark;
                color: white;
            }
        }

        & .viewNav {
            display: flex;
            border-top: 2px dotted grey;
            border-bottom: 2px dotted grey;
            padding: 4px 0;
            justify-content: space-between;
        }
    }

    & header {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        width: 100%;
        justify-content: start;
        padding-bottom: 10px;

        & .title {
            font-size: 1.8em;
            font-weight: bold;
        }

        & .closeButton {
            position: absolute;
            justify-self: end;
            width: 35px;
            height: 35px;
            background: none;
            border: none;
        }
    }
}