.notification-container {
    display: flex;
    align-items: center;
  
    & .notification {
      display: grid;
      place-items: center;
      width: 30px;
      height: 30px;
      border-radius:100%;
      border: 2px solid black;
      font-weight: bold;
      font-size: 22px;
      z-index: 1;
    }
  
    & .addendum {
      background: getBackgroundColor('primary');
      color: white;
      border-radius: 0 15px 15px 0;
      border: 1px solid black;
      font-weight: normal;
      font-size: 0.6em;
      padding: 2px 8px;
      padding-left: 5px;
      margin-left: -5px;
      display:flex;
      align-items: center;
      gap: 3px;
      white-space: nowrap;
    }
  }