@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$fonts: (
    'standard': 'Nunito',
    'cursive': 'Dancing Script',
    'numbers': 'Roboto Condensed',
);
@function getFont($key) {
    @return map-get($fonts, $key);
}

$font-sizes: (
    'small': 12px,
    'standard': 14px,
    'large': 18px,
    'larger': 24px,
    'largest': 32px,
);
@function getFontSize($key) {
    @return map-get($font-sizes, $key);
}