$background-colors: (
    'primary': #222,
    'secondary': #2c2c2c,
    'tertiary': rgb(52, 58, 52),
    'quaternary': rgb(77, 77, 77),
);
@function getBackgroundColor($key) {
    @return map-get($background-colors, $key);
}

$multitoggle-colors: (
    'active': #151515,
    'inactive': #373737,
);
@function getMultiToggleColor($key) {
    @return map-get($multitoggle-colors, $key);
}

$text-colors: (
    'primary': #fff,
    'secondary': #9bb4b2,
);
@function getTextColor($key) {
    @return map-get($text-colors, $key);
}

$primary-colors: ( 
    'constructive': #3c705a,
    'progressive': rgb(173, 164, 88),
    'destructive': rgb(177, 53, 53),
    'neutral': #373737,
    'dark': #222,
);
@function getPrimaryColor($key) {
    @return map-get($primary-colors, $key);
}

$border-colors: (
    'standard': #181818,
);
@function getBorderColor($key) {
    @return map-get($border-colors, $key);
}