.ContextMenu {
    z-index: 99;
    position: fixed;

    background: getPrimaryColor('dark');
    border: 1px solid getBorderColor('standard');
    padding: 5px;
    border-radius: 10px;

    & .title {
        color: getTextColor('grey');
        text-align: center;
        margin: 3px 0;
    }

    & .list {
        display: grid;

        & .noaccess {
            max-width: 160px;
            text-align: center;
            color: getPrimaryColor('destructive');
        }
    }
}