.confirm-box-container {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 98;

    & .confirm-box {
        background: getBackgroundColor('primary');
        color: white;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid getBorderColor('standard');
        z-index: 99;
        box-shadow: getBoxShadow('outer');
        text-shadow: 0.1em 0.1em 0.2em black;

        & .title {
            font-weight: bold;
            font-size: getFontSize('standard');
            color: getPrimaryColor('popping');
            text-align: center;
        } 

        & .message {
            margin: 10px 0;
        }

        & .options {
            display: flex;
            gap: 10px;
            justify-content: center;

            button {
                box-shadow: getBoxShadow('outer');

                &:active {
                    box-shadow: getBoxShadow('inner');
                }
            }
        }
    }
}