@import 'colorset';

.TableManagerContainer {

    & .MenuManager {
        display: grid;
        position: relative;
        background: $background-dark;
        color: white;
        padding: 0 10px;
        border: 4px double black;
        box-shadow: 0px 4px 10px 1px black;

        & .menuTitle {
            display: flex;
            justify-self: center;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            font-size: 22px;
            color: $wine;
            background: bisque;
            background-image: url("./../assets/icons/dark-fabric.png");
            width: 100%;
            border-bottom: 2px solid black;

            & .closeButton {
                background: none;
                border: none;
                margin: 0 -10px;
            }
        }

        & .menuContainer {
            column-count: 2;
            padding: 5px 0;
            
            & .type {
                break-inside: avoid;
                padding: 5px;

                & .typeTitle {
                    border-bottom: 1px solid white;
                    color: white;
                    font-size: 26px;
                    text-align: center;
                    margin: 2px 0;
                }

                & .itemContainer {
                    

                    & .item {
                        display: flex;
                        white-space: nowrap;
                        justify-content: space-between;
                        gap: 5px;

                        & .itemTitle {
                            display: flex;
                            gap: 5px;
                            align-content: center;

                            & .itemInfoButton {
                                background: none;
                                border: none;
                                padding: 0;
                            } 
                        }
                    }

                    & .itemInfo {
                        display: none;

                    }

                }
            }
        }
    }
}