.Seating {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    border: none;
    background: none;
    border-radius: 50% 50% 0 0;
    font-size: 1em;
    justify-items: center;
    transform: translateX(-50%);
    filter: blur(0);
    z-index: 3;
    white-space: nowrap;

    & .upper-wrapper {
      display: flex;
      flex-direction: column-reverse;
      pointer-events: none;
      height: 50px;
      margin-top: -42px;
      align-items: center;
      gap: 1px;
      position: absolute;
      z-index: 1;
      
      & .item-category {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1px;
        font-weight: normal;
        font-size: 0.9em;
        border-radius: 10px;
        box-shadow: getBoxShadow('inner');
        
        & .item {
          display: flex;
          margin: 0 auto;

          & .amount {
            display: flex;
            align-items: center;
            background: getPrimaryColor('dark');
            color: white;
            border-radius: 10px 0 0 10px;
            padding: 0 5px;
            border: 1px solid black;
            gap: 4px;
          }
    
          & .time {
            border-radius: 0 10px 10px 0;
            padding: 0 5px;
            border: 1px solid black;
            display: flex;
            align-items: center;
          }
        }
      }

      & .waiter {
        display: flex;
        align-items: center;
        gap: 3px;
        background: getPrimaryColor('dark');
        color: white;
        padding: 0px 5px;
        border-radius: 20px;
        border: 1px solid getBorderColor('standard');

        & img {
          width: 16px;
          height: 16px;
        }
      }
    }

    & .lower-wrapper {
      margin-top: -10px;
      z-index: 1;
      pointer-events: none;
      display: flex;
      flex-direction: column;

      & .customers {
        display: grid;
        justify-items: center;
        text-align: center;
        padding: 0;

        & .customer {
          display: flex;
          align-items: center;
          gap: 4px;
          box-shadow: getBoxShadow('outer');
          background: getPrimaryColor('dark');
          color: white;
          padding: 0 5px;
          border-radius: 10px;
          outline: 1px solid getBorderColor('standard');
          margin: 3px;
          font-size: 14px;

          img {
            height: 13px;
            width: 13px;
          }
        }
      }

      & .unpaid-orders {
        background: linear-gradient(to right, blue, rgb(209, 0, 228));
        color: getTextColor('primary');
        padding: 0 5px;
        border-radius: 10px;
        outline: 1px solid getBorderColor('standard');
        margin: 0 auto;
      }
    }

    .editing {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        display: grid;
        justify-content: center;
        align-content: center;

        &:hover {
            display: none;
        }

        & p {
            margin: 0;
        }

        & .dots {
            font-size: 50px;
            color: white;
            padding: 0;
            margin: 0;
            margin-top: -8px;
          }
          
          & span {
            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
          }
          
          & span:nth-child(2) {
            animation-delay: .2s;
          }
          
          & span:nth-child(3) {
            animation-delay: .4s;
          }
          
          @keyframes blink {
            0% {
              opacity: .2;
            }
            20% {
              opacity: 1;
            }
            100% {
              opacity: .2;
            }
          }
          
      }

    & .number-display {
        font-size: 1.5em;
        border-radius: 100%;
        border: 6px double black;
        box-shadow: getBoxShadow('inner');
        transition: all 200ms ease-in-out;

        width: 70px;
        height: 70px;
        border: 6px double black;

        &:hover {
            transform: scale(1.05);
        }

        & .number {
            font-size: 2em;
            font-family: getFont('numbers');
            color: black;
        }

        .unpaid-tab-container {
          transform:rotate(340deg) translate(-18px, -18px) rotate(-340deg);
          position:absolute;
        }

        .is-photography-container {
          transform:rotate(240deg) translate(-30px, -30px) rotate(-240deg);
          position:absolute; 
        }

    }

  }
