@import '_colorset'; 

.AttendingStaff {
    & .deleteStaffButton {
        
        &:hover {
            background: $background-destructive;
            text-decoration: line-through;
        }
    }

    & .perPerson {
        color: $cream;
        margin-top: 5px;
        padding-top: 3px;
        border-top: 1px solid $cream;
        text-shadow: 0px 2px 4px black;
    }
}