@import '_colorset'; 

.AttendingStaff {
    & .delete-staff-button {
        background: $background-inactive;
        
        &:hover {
            background: $background-destructive;
            text-decoration: line-through;
        }
    }

    & .perPerson, & .calculations {
        color: $cream;
        margin-top: 5px;
        padding-top: 3px;
        text-shadow: 0px 2px 4px black;
    }

    & .per-person, & .calculations {
        border-top: 1px solid $cream;
    }

    & .per-person {
        color: lightgrey;
    }

}