
* {
  font-family: 'Nunito', sans-serif;
  font-size: getFontSize('standard');
}

//Scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */ 
::-webkit-scrollbar-track {
  background: none;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: getBackgroundColor('quaternary'); 
  border-radius: 10px;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  height: 100vh;
  margin: auto;
}

.transparent {
  opacity: 0.4;
}

.disabled {
  cursor: not-allowed !important;

  &:hover {
    filter:none !important;
  }
}

.ghost {
  pointer-events: none;
}

button, select, option {
  &:hover {
    cursor: pointer;
    filter:brightness(1.2);
  }

  &:active {
    box-shadow: inset 0px 1px 4px 1px black !important;
  }
}

.destructive {background: getPrimaryColor('destructive') !important;}
.constructive {background: getPrimaryColor('constructive') !important;}
.progressive {background: getPrimaryColor('progressive') !important;}
.informative {background: blue !important;}
.neutral {background: getPrimaryColor('neutral') !important;}
.dark {background: getPrimaryColor('dark') !important;}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

