.SeatingManagerContainer {

    & .MenuManager {
        display: grid;
        position: relative;
        background: getBackgroundColor('primary');
        color: white;
        border: 1px solid getBorderColor('standard');
        
        
        & .menu-title {
            display: flex;
            justify-self: center;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            font-size: getFontSize('large');
            color: white;
            background: getPrimaryColor('constructive-mild');
            width: 100%;
            box-shadow: getBoxShadow('outer');
            border: 1px solid getBorderColor('standard');

            & .customer-title {
                color: white;
                padding: 0 10px;
                text-shadow: 0.1em 0.1em 0.2em black;
            }

            & .close-button {
                margin: 5px;
            }
        }

        & .menu-container {
            column-count: 2;
            padding: 5px 10px;
            
            & .type {
                break-inside: avoid;
                padding: 5px;

                & .type-title {
                    border-bottom: 1px solid grey;
                    font-weight: bold;
                    color: getPrimaryColor('popping');
                    font-size: getFontSize('large');
                    margin: 2px 0;
                }

                & .item-container {
                
                    & .item {
                        display: flex;
                        white-space: nowrap;
                        justify-content: space-between;
                        gap: 5px;
                        margin: 1px 0;

                        & .item-title {
                            font-size: getFontSize('standard');
                            display: flex;
                            gap: 5px;
                            align-content: center;
                            color: white;
                            text-shadow: 0.1em 0.1em 0.2em black;

                            & .item-info-button {
                                background: none;
                                border: none;
                                padding: 0;
                            } 
                        }

                        & .item-nav {
                            display: flex;
                        }
                    }

                    & .item-info {
                        display: none;
                    }

                }
            }
        }
    }
}