.OrderManager {
    background: getBackgroundColor('primary');
    color: black;
    border: 1px solid getBorderColor('standard');
    display: grid;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid getBorderColor('standard');
    box-shadow: getBoxShadow('inner');

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: getFontSize('standard');
        background: getBackgroundColor('quaternary');
        font-weight: bold;
        color: white;
        border-bottom: 1px solid getBorderColor('standard');
        max-width: 100%;
        text-shadow: 0.1em 0.1em 0.2em black;

        & .label, & button {
            margin: 5px;
        }
    }

    & button.icon { 
        border-radius: 100%; 
        border: none;
        background: none;

        & img {
            width: 26px;
            height: 26px;
        }
    }

    & button.text { 
        border-radius: 999px; 
    }

    & .customer-container {
        display: grid;
        grid-auto-flow: row;
        padding: 5px;

        & .emptylist {
            display: flex;
            justify-content: center;
            color: grey;
        }
    }
}