.Payouts {
    background: getBackgroundColor('secondary');
    //box-shadow: 0px 4px 10px 1px black;
    color: white;
    margin: 0px 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 1000px;
    text-shadow: 0.1em 0.1em 0.2em black;
    min-height: 600px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
    & .column {
        display: grid;
        grid-gap: 20px;

        &.left {
            display: grid;
            grid-template-rows: auto 1fr;
        }

        & section {
            display: flex;
            flex-direction: column;
            min-height: 100px;
    
            & .nav {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                align-items: center;

                & .title {
                    font-size: getFontSize('standard');
                    color: getTextColor('primary');
                    font-family: getFont('standard');
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                & .under-title {
                    color: $cream;
                    font-size: 14px;
                    text-align: center;
                }
            }
            
            & .content {
                box-shadow: inset 0px 0px 1px 0px black;
                background: getBackgroundColor('primary');
                border: 1px solid getBorderColor('standard');
                z-index: 2;
                height: 100%;
                
            }
        }
    }
}