@import '_colorset'; 

.Receipt {
    padding: 5px 10px;
    background: $gradient-gold;
    border-radius: 20px;

    & .name {
        color: black;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid black;
    }

    & .data {
        display: flex;
        justify-content: space-between;
        font-weight: normal;

        & .time {
            & img {
                margin-right: 3px;
                width: 13px;
                height: 13px;
            }
        }
    }

    & .total {
        color: $wine;
        display: flex;
        justify-content: space-between;
    }
}

