@import '_colorset'; 

.ReceiptManager {

    box-shadow: 0px 4px 10px 1px black;
    color: black;
    max-height: 600px;
    width: 250px;
    height: 800px;
    border-radius: 0 30px 0 0;
    margin-left: 4px;


    & .header {
        background: $gradient-steel;
        padding: 5px 10px;
        border-radius: 0 30px 0 0;
        border: 4px solid black;

        & .title {
            font-size: 28px;
            color: white;
        }   

        & .underTitle {
            color: $cream;
            font-size: 14px;
        }
    }

    & .receiptList {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        gap: 10px;
        height: 100%;
        overflow: auto;
        background: bisque;
        background-image: url("./../assets/icons/dark-fabric.png");
        border: 4px solid black;
        border-top: none;
    }
}