@import 'colorset';

.ReceiptModal {
    & .paid-amount {
        display: flex;
        gap: 5px;

        & label {
            white-space: nowrap;
        }

        & input {
            width: 100%;
            background: $background-dark;
            color: white;
        }
    }

    & .item-table {

        & tfoot {
            color: $cream;
        }
    }

    & .receipt-RP {
        
        & a {
            color: $wine;

            &:visited {
                color: $wine;
            }
        }
    }
}