.ReceiptManager {
    color: black;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: space-between;

    & .filter {
        display: flex;
        justify-content: center;
    }

    & .list {
        overflow: auto;
        overflow-y: auto;
        padding: 5px;
    }

    & .bottom-list {
        border-top: 1px solid getBorderColor('standard');
        background: getBackgroundColor('tertiary');

        & .total {
            color: getTextColor('primary');
            font-size: getFontSize('standard');
            padding: 5px;
        }
    }
}