@import '_colorset';

.Table {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    border: none;
    background: none;
    border-radius: 50% 50% 0 0;
    font-size: 1em;
    justify-items: center;
    transform: translateX(-50%);
    filter: blur(0);
    z-index: 3;
    white-space: nowrap;

    & .waiter {
        position: absolute;
        color: white;
        padding: 1px 5px;
        text-shadow: 0 0 black;
        margin-top: -32px;
        background: $background-dark !important;
        border: 4px double beige;
        font-size: 14px;
        
        display: flex;
        align-items: center;
        gap: 5px;

        & img {
            width: 20px;
            height: 20px;
        }
    }

    & ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        display: grid;
        justify-items: center;

        & li {
            background: $background-progressive;
            padding: 1px 5px;
            border-radius: 25px;
            border: 1px solid black;
            margin: 1px;
            font-size: 14px;
        }
    }

    .editing {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        display: grid;
        justify-content: center;
        align-content: center;

        &:hover {
            display: none;
        }

        & p {
            margin: 0;
        }

        & .dots {
            font-size: 50px;
            color: white;
            padding: 0;
            margin: 0;
            margin-top: -8px;
          }
          
          & span {
            animation-name: blink;
            animation-duration: 1.4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
          }
          
          & span:nth-child(2) {
            animation-delay: .2s;
          }
          
          & span:nth-child(3) {
            animation-delay: .4s;
          }
          
          @keyframes blink {
            0% {
              opacity: .2;
            }
            20% {
              opacity: 1;
            }
            100% {
              opacity: .2;
            }
          }
          
      }

    & .numberDisplay {

        font-size: 1.5em;
        border-radius: 100%;
        border: 4px double black;
        box-shadow: 0 0 4px 1px $darkgrey;
        width: 80px;
        height: 80px;
        transition: all 100ms ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        & .number {
            font-size: 2em;
        }

        .notificationContainer {
            transform:rotate(340deg) translate(50px, 5px) rotate(-340deg);
            position:absolute;
        }

        .unPaidTabContainer {
          transform:rotate(340deg) translate(-18px, -18px) rotate(-340deg);
          position:absolute;
        }

        .isPhotographyContainer {
          transform:rotate(240deg) translate(-30px, -30px) rotate(-240deg);
          position:absolute; 
        }

    }

  }
