@import './themes/default__colors';
@import './themes/default__fonts';
@import './themes/default__decorations';

//Common
@import './../components/common/MultiToggle/MultiToggle';
@import './../components/common/MultiToggle/MultiToggleOption';
@import './../components/common/Button/Button';
@import './../components/common/List/List';
@import './../components/common/List/ListItem';
@import './../components/common/Table/Table';
@import './../components/common/Table/TableItem';
@import './../components/common/Dropdown/Dropdown';
@import './../components/common/Dropdown/DropdownItem';
@import './../components/common/CloseButton/CloseButton';
@import './../components/common/IconButton/IconButton';
@import './../components/common/ContextMenu/ContextMenu';
@import './../components/common/ContextMenu/ContextMenuItem';

//Components
@import 'index';
@import 'Section';
@import 'ReceiptManager';
@import 'SectionManager';
@import 'Seating';
@import 'Payouts';
@import 'TipsManager';
@import 'Modal';
@import 'ReceiptModal';
@import 'AttendingStaff';
@import 'TipModal';
@import 'SeatingManager';
@import 'OrderManager';
@import 'MenuManager';
@import 'InfoBox';
@import 'ConfirmBox';
@import 'TabManager';
@import 'Receipt';
@import 'TopNav';
@import 'Customer';
@import 'SectionPointer';


main {
    display: grid;
    place-items: center;
    background-image: url('./../assets/background/background.webp');
    background-size: cover;
    background-repeat: no-repeat;

    & .blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
      }
}