@import 'colorset';
@import './themes/default__colors';
@import './themes/default__fonts';


//Common
@import './../components/common/MultiToggle/MultiToggle';
@import './../components/common/MultiToggle/MultiToggleOption';

//Components
@import 'index';
@import 'Section';
@import 'ReceiptManager';
@import 'Seating';
@import 'Payouts';
@import 'TipsManager';
@import 'Modal';
@import 'ReceiptModal';
@import 'AttendingStaff';
@import 'TipModal';
@import 'SeatingManager';
@import 'OrderManager';
@import 'MenuManager';
@import 'InfoBox';
@import 'ConfirmBox';
@import 'TabManager';
@import 'Receipt';
@import 'TopNav';



main {
    display: grid;
    place-items: center;
    background-image: url("./../assets/background/background.webp");
    background-size: cover;
    background-repeat: no-repeat;

    & .blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
      }
}